<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<servlet>

<servlet-name>MyServletDemo</servlet-name>

<servlet-class>com.servlet.MyServletDemo</servlet-class>

</servlet>

<servlet-mapping>

<servlet-name>MyServletDemo</servlet-name>

<url-pattern>/MyServletDemo</url-pattern>

</servlet-mapping>
</web-app>